body{color: black;
background-color: antiquewhite;/*taustan väri*/} 
@font-face {
    font-family:Roboto;
    src: url(Roboto-VariableFont_wdth\,wght.ttf);
} 
@font-face {
    font-family:RobotoSlab;
    src: url(RobotoSlab-VariableFont_wght.ttf);
}
                                                /* lataa fontit*/

h1{font-size: 4vw;
font-family:Roboto;
color: rgb(423, 32, 52);
color: rgb(0, 0, 0);}
h2{font-size: 2.5vw;
font-family:Roboto;
color: rgb(423, 32, 52);
color: rgb(0, 0, 0);}
p{font-size: 2vw;
font-family: RobotoSlab;}
pre{

    font-family: RobotoSlab;
}

#Tuukka {width: 90%;}


h2{color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
